In [2]:
import pandas as pd
import numpy as np
import os
os.chdir("/Users/ankur/Documents/Springboard/Python_ML/Mat")
os.getcwd()

'/Users/ankur/Documents/Springboard/Python_ML/Mat'

In [11]:
#I/O 
#Replace excel with csv for csv files
#Read
df = pd.read_excel("First.xlsx" , "Sheet1")
#Write
df.to_excel("First_Output.xlsx" , sheet_name= "Sheet1" , index=False)
df.head(2)

  EMPID Gender  Age  Sales         BMI  Income
0  E001      M   34    123      Normal     350
1  E002      F   40    114  Overweight     450

In [8]:
#pandas Data Structures
#Series
s = pd.Series([1,2,3,4], index = ['a','b' , 'c' , 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
#Dataframe
data = {'Country' : ['India' , 'France' , 'Spain' , 'Switzerland', 'Netherlands'],
        'Capital' : ['New Delhi' , 'Paris' , 'Madrid' , 'Geneva' , 'Amsterdam'],
        'Population' : [100 , 30, 24, 27 , 19]}
df = pd.DataFrame(data , columns = ['Country' , 'Capital' , 'Population'])

In [16]:
df

       Country    Capital  Population
0        India  New Delhi         100
1       France      Paris          30
2        Spain     Madrid          24
3  Switzerland     Geneva          27
4  Netherlands  Amsterdam          19

In [18]:
#Asking for help
help(pd.Series.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`

In [19]:
#Selection
s['b']

2

In [27]:
df[3:]

       Country    Capital  Population
3  Switzerland     Geneva          27
4  Netherlands  Amsterdam          19

In [40]:
#Selecting by Postition
#ILOC
df.iloc[0,0]

'India'

In [41]:
df.iloc[:,0]

0          India
1         France
2          Spain
3    Switzerland
4    Netherlands
Name: Country, dtype: object

In [42]:
df.iloc[0,:]

Country           India
Capital       New Delhi
Population          100
Name: 0, dtype: object

In [43]:
df.iloc[:-2,]

  Country    Capital  Population
0   India  New Delhi         100
1  France      Paris          30
2   Spain     Madrid          24

In [48]:
df.iloc[:-2,:-1]

  Country    Capital
0   India  New Delhi
1  France      Paris
2   Spain     Madrid

In [49]:
#LOC
df.loc[:,'Country']

0          India
1         France
2          Spain
3    Switzerland
4    Netherlands
Name: Country, dtype: object

In [50]:
df.loc[:2,'Population']

0    100
1     30
2     24
Name: Population, dtype: int64

In [53]:
#Boolean Indexing
df[(df['Population'] > 25) | (df['Population'] < 20)]

       Country    Capital  Population
0        India  New Delhi         100
1       France      Paris          30
3  Switzerland     Geneva          27
4  Netherlands  Amsterdam          19

In [60]:
#SQL Queries in notebook
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)

In [62]:
#Dropping rows or columns
df_coldrop = df.drop('Population' , axis = 1)
df_coldrop.head(2)

  Country    Capital
0   India  New Delhi
1  France      Paris

In [64]:
df_rowdrop = df.drop( 1, axis = 0)
df_rowdrop.head(2)

  Country    Capital  Population
0   India  New Delhi         100
2   Spain     Madrid          24

In [65]:
df.sort_index()
df

       Country    Capital  Population
0        India  New Delhi         100
1       France      Paris          30
2        Spain     Madrid          24
3  Switzerland     Geneva          27
4  Netherlands  Amsterdam          19

In [66]:
df.sort_values(by = 'Population')
df

       Country    Capital  Population
0        India  New Delhi         100
1       France      Paris          30
2        Spain     Madrid          24
3  Switzerland     Geneva          27
4  Netherlands  Amsterdam          19

In [72]:
df['Rank'] = df['Country'].rank()
df

       Country    Capital  Population  Rank
0        India  New Delhi         100   2.0
1       France      Paris          30   1.0
2        Spain     Madrid          24   4.0
3  Switzerland     Geneva          27   5.0
4  Netherlands  Amsterdam          19   3.0

In [75]:
df.shape

(5, 4)

In [76]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [77]:
df.columns

Index([u'Country', u'Capital', u'Population', u'Rank'], dtype='object')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Country       5 non-null object
Capital       5 non-null object
Population    5 non-null int64
Rank          5 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 232.0+ bytes

In [79]:
df.count()

Country       5
Capital       5
Population    5
Rank          5
dtype: int64

In [82]:
#Apply functions
f = lambda x : x*2
df['Population_mult2'] = df['Population'].apply(f)

In [83]:
df

       Country    Capital  Population  Rank  Population_mult2
0        India  New Delhi         100   2.0               200
1       France      Paris          30   1.0                60
2        Spain     Madrid          24   4.0                48
3  Switzerland     Geneva          27   5.0                54
4  Netherlands  Amsterdam          19   3.0                38