In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/ankur/Documents/Videoken'

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [21]:
train = pd.DataFrame(train)
train.columns

Index([u'Year', u'Country   ', u'Region', u'Song language', u'Artist   ',
       u'Song   ', u'English translation ', u'Artist gender', u'Group/Solo',
       u'Place', u'Points', u'Host Country', u'Host region',
       u'Home/Away Country', u'Home/Away Region',
       u'Approximate Betting Prices', u'Albania ', u'Andorra ', u'Armenia ',
       u'Austria', u'Azerbaijan ', u'Belarus ', u'Belgium ',
       u'Bosnia and Herzegovina ', u'Bulgaria ', u'Croatia ', u'Cyprus ',
       u'Czech Republic ', u'Denmark ', u'Estonia ', u'Finland ', u'France ',
       u'Georgia', u'Germany ', u'Greece ', u'Hungary ', u'Iceland ',
       u'Ireland ', u'Israel ', u'Latvia ', u'Lithuania ', u'Macedonia ',
       u'Malta ', u'Moldova ', u'Monaco', u'Montenegro ', u'Netherlands ',
       u'Norway ', u'Poland ', u'Portugal ', u'Romania ', u'Russia ',
       u'San Marino', u'Serbia ', u'Serbia & Montenegro', u'Slovakia ',
       u'Slovenia ', u'Spain ', u'Sweden ', u'Switzerland ', u'Turkey ',
       u'Ukraine ', u'United Kingdom ', u'Flag'],
      dtype='object')

In [19]:
train['Flag'] = "Train"
test['Flag'] = "Test"

In [24]:
data = train.append(test, ignore_index=True)

In [29]:
data.shape

(291, 64)

In [30]:
data.head(5)

,Year,Country,Region,Song language,Artist,Song,English translation,Artist gender,Group/Solo,Place,...,Serbia & Montenegro,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,Flag
0,2008,Romania,Former Socialist Bloc,"Romanian, Italian",Nico and Vlad,"""Pe-o margine de lume""",On an edge of the world,Both,Group,20.0,...,NaN,NaN,0.0,12.0,0.0,0.0,0.0,0.0,0.0,Train
1,2008,United Kingdom,Independent,English,Andy Abraham,"""Even If""",?,Male,Solo,25.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Train
2,2008,Albania,Former Socialist Bloc,Albanian,Olta Boka,"""Zemr�n e lam� peng""",Hearts trapped in time,Female,Solo,17.0,...,NaN,NaN,4.0,0.0,0.0,8.0,1.0,0.0,0.0,Train
3,2008,Germany,Western Europe,English,No Angels,"""Disappear""",?,Female,Group,23.0,...,NaN,NaN,0.0,0.0,0.0,2.0,0.0,0.0,0.0,Train
4,2008,Armenia,Former Socialist Bloc,"English, Armenian",Sirusho,"""Q�l�, Q�l�""","Come on, come on",Female,Solo,4.0,...,NaN,NaN,5.0,10.0,2.0,0.0,10.0,7.0,0.0,Train

In [33]:
data_feature = data.iloc[:,0:16]

In [34]:
data_feature.head(2)

,Year,Country,Region,Song language,Artist,Song,English translation,Artist gender,Group/Solo,Place,Points,Host Country,Host region,Home/Away Country,Home/Away Region,Approximate Betting Prices
0,2008,Romania,Former Socialist Bloc,"Romanian, Italian",Nico and Vlad,"""Pe-o margine de lume""",On an edge of the world,Both,Group,20.0,45.0,Serbia,Former Yugoslavia,Away,Away,95.0
1,2008,United Kingdom,Independent,English,Andy Abraham,"""Even If""",?,Male,Solo,25.0,14.0,Serbia,Former Yugoslavia,Away,Away,265.0

In [35]:
data_dep = data.iloc[:,17:64]

In [36]:
data_dep.head(2)

,Andorra,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia & Montenegro,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,Flag
0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,NaN,NaN,0.0,12.0,0.0,0.0,0.0,0.0,0.0,Train
1,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,Train

In [47]:
name = globals()
for i in range(0,46):
    name['dep%d' % i] = data_dep.iloc[:,i]
    model_data = data_feature.append(dep, ignore_index=True)